/* ! normalize */
html,
body {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background: #191919;
}

/* ! containers */
.container {
	max-width: 1250px;
	margin: 0 auto;
}

.mrg-lft {
	margin: 0 auto;
	padding-left: 30px;
}

/* ! fonts */
.green-txt {
	color: #118da8;
}

.gray-txt {
	font-size: 22px;
	line-height: 33px;

	color: rgba(255, 255, 255, 0.7);
}

/* * fx-text */
.fx-underline {
	display: inline-block;
	position: relative;
}

.fx-underline:after {
	display: block;
	content: '';

	position: absolute;
	padding: 2px 0;
	min-width: 100%;

	background: #118da8;
	transform: rotate(2deg);
}

* {
	font-family: 'DM Sans', sans-serif;
	color: #fff;
}

a {
	text-decoration: none;
}

.signature {
	font-size: 18px;
}


a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 64px;
	line-height: 80px;
	font-weight: 400;
}

/* ! blocks */
/* * button a */
.button {
	display: inline-block;
	padding: 12px 20px;

	background: #118da8;
	color: #fff;
	border-radius: 6px;
}

.button:hover {
	background: #fff;
	color: #118da8;

	text-decoration: none;
}

.button:hover:focus {
	outline-color: #118da8;
}

.button:focus {
	outline: 2px solid;
	outline-color: #fff;
}

/* *input.field */
input.field {
    background: #191919;
    border: none;
    border-radius: 6px;

    padding: 26px 0 27px 19px;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    outline: 2px solid;
}

/* *line */
.line {
	display: inline-block;
	position: absolute;
	border: solid #118da8;
	border-width: 0 5px 0 0;
}

.line.sz35 {
	padding: 27px;
}

.line.sz23 {
	padding: 13px;
}

/* ! wrapper */
.wrapper {
	display: flex;
}

.jc-spbt {
	justify-content: space-between;
}

.ai-center {
	align-items: center;
}

.fd-col {
	flex-direction: column;
}

/* * figure */
figure {
	border-radius: 12px;
}

/* ! header */
header {
	padding: 43px 0;
}

/* *ul */
ul li {
	list-style: none;
	display: inline-block;

	margin-right: 40px;
}

/* *nav */
.nav__link_active {
	color: #118da8;
}

/* ! about */
.about__inner {
	padding-top: 40px;
}

/* *about lines */
.about__img-lines {
	position: relative;
}

.about__img-lines .line:first-child {
	z-index: 10;
	transform: rotate(-50deg);

	top: -5px;
	left: -50px;
}

.about__img-lines .line:nth-child(2) {
	z-index: 10;

	top: -30px;
	left: 10px;
}

.about__img-lines .line:nth-child(3) {
	z-index: 10;
	transform: rotate(-78deg);

	top: 50px;
	left: -32px;
}

/* *other */
.about__left {
	margin-right: 60px;
}

.about__info {
	max-width: 530px;
}

.about__text-about {
	font-size: 70px;
	line-height: 88px;
}

.about__text-big {
	font-size: 80px;
	font-weight: 700;
}

/* * follow-me */
.follow-me {
	margin-top: 70px;
}

.follow-me > .wrapper {
	margin-top: 16px;
}

.follow-me__text {
	font-size: 15px;
}

.follow-me__link {
	margin-right: 17px;
}

.follow-me__link:last-child {
	margin: 0;
}

/* ! art-list */
.art-list__inner {
	padding: 50px 0 100px 0;
}

/* *art-list__item */
.art-list__item {
	background: #000;
	border-radius: 32px;

	padding: 40px;
	margin-bottom: 60px;
}

.art-list__img {
	margin-right: 53px;
}

.art-list__tag {
	display: inline-block;
	padding: 0 18px;
	margin-top: 7.5px;

	background: #191919;
	border-radius: 6px;
	font-size: 18px;
	line-height: 27px;
}

.art-list__episode {
	font-size: 17px;
	line-height: 27px;
}

.art-list__text {
	margin-bottom: 18px;
}

/* ! about-me */
.about-me__inner {
	padding: 100px 0;
}

.about-me__header > h2 {
	font-size: 65px;
	line-height: 79px;
	letter-spacing: 2.88px;
}

.about-me__circle-button {
	display: inline-block;
	height: 112px;
	width: 112px;
	background: #118da8;
	border-radius: 50%;

	position: relative;

	margin-bottom: calc(18px - 5px);
}

.about-me__circle-button:focus {
    outline: 2px solid #fff;
}

.about-me__circle-button > img {
	display: inline-block;
	position: absolute;
	left: calc(50% - 71px / 2);
	top: calc(50% - 39px / 2);

	z-index: 10;
}


.about-me__text {
	margin-bottom: 33px;
}

/* ! subscribe */
.subscribe {
    margin: 100px 0;
}

.subscribe__inner {
    background: #000;
    border-radius: 32px;
    padding: 60px;

    position: relative;
}

.subscribe__info {
    max-width: 360px;
}

.subscribe form * {
    margin-bottom: 20px;
}

.subscribe input:last-child {
	border: none;
    font-size: 15px;
    line-height: 28.8px;
    margin: 0;
}

.subscribe form *:last-child {
    margin: 0;
}

.subscribe input.field {
    min-width: 522px;
}

.subscribe input.field::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.subscribe input.field::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
	opacity: 1;
}

.subscribe .line:nth-child(2) {
    padding: 15px;

    bottom: 60px;
    left: -60px;
    transform: rotate(63deg);
}

.subscribe .line:nth-child(3) {
    padding: 34px;

    bottom: -18px;
    left: -55px;
    transform: rotate(25deg);
}

.subscribe .line:last-child {
    padding: 30px;

    bottom: -35px;
    left: 50px;
    transform: rotate(-10deg);
}